/*色
--------------------------------------------------------*/
$main-color: #333;
$sub-color: #009944;
$color-main: #3f51b5;

// レイアウト
$layout-width-canvas: 960px;
$layout-width-inner: 1200px;

// 余白
$padding-pc: 24px;
$padding-tab: 24px;
$padding-sp: 16px;

// ブレークポイント
$breakpoints: (
	"sp": "(max-width: 767px)",
	"tab-only": "(min-width: 768px) and (max-width: #{$layout-width-inner + $padding-pc * 2 - 1px})",
	"tab": "(max-width: #{$layout-width-inner + $padding-pc * 2 - 1px})",
	"pc": "(min-width: #{$layout-width-inner})",
);

// メディアクエリー
@mixin mq($breakpoint: sp) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}
/*body
--------------------------------------------------------*/
*{
	box-sizing : border-box;
}
html,
body {
	margin: 0;
  padding: 0;
  font-size: 62.5%;
}
body{
	font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
	font-size: 1.6em;
	font-weight: 400;
  line-height: 1.6;
	color: $main-color;

	text-size-adjust: 100%;
}

a{
	text-decoration: none;
  color:$main-color;
  
  &:hover {
    opacity: 0.7s;
  }
}

/*共通
--------------------------------------------------------*/

.flex {
  display: flex;
  align-items: baseline;
}

.is-between {
  justify-content: space-between;
}

.is-center {
  align-items: center;
}

// ボタン
.main-btn {
  width: 240px;
  margin: 60px auto 0;
  border-radius: 5px;

  a {
    display: block;
    padding: 15px;
    transition: all 0.4s;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    background: #ffe372;

    &:hover {
      background: $sub-color;
      color: #fff;
    }
  }
}

.inner {
	width: $layout-width-inner;
	max-width: 100%;
	margin: 0 auto;
	height: inherit;
}
/*セクションタイトル
--------------------------------------------------------*/
.item-section-title {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  color: $sub-color;
  margin-bottom: 40px;
}

/*header
--------------------------------------------------------*/
.header {
  width: $layout-width-canvas;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.header-tel {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.header-address {
  font-weight: bold;
}

.gnav {
  margin-top: 40px;

  ul {
    justify-content: space-around;
    list-style: none;

    li {
      width: 160px;
      border-right: 1px solid #aaa;

      a {
        font-weight: bold;
        display: block;
        text-align: center;

        &:hover {
          color: $sub-color;
          opacity: 0.7;
        }
      }
    }
  }
}

.gnav li:last-child {
  border-right: none;
}

.gnav .active a {
  color: $sub-color;
}
/*mv
--------------------------------------------------------*/

.mainvisual {
	height: 700px;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.mainvisual_content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: left;
  line-height: 1.2;
}

.mainvisual_title {
	font-size: 64px;
	font-weight: 700;
}

/*item
--------------------------------------------------------*/

.item-wrap {
  width: $layout-width-canvas;
  margin: 100px auto 80px;
}


.item-list {
  width: 300px;
}

.item-img{
  display: block;
}

.item-list-title {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin: 15px 0;

  a{
    color: $main-color;
    display: block;
    text-decoration: none;

    &:hover {
      color: $sub-color;
      opacity: 0.7;
    }
  }
}

.item-list-body {
  overflow: hidden;
	display: block;
	text-decoration: none;
	transition: .3s;

	&:hover {
    color: $sub-color;
    opacity: 0.7;
	}
}

/*news
--------------------------------------------------------*/

.news-wrap {
  width: 760px;
  margin-left: auto;
  margin-right: auto;
}

.news-list {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #c6c6c6;

  dt {
    margin-right: 30px;
  }
}

/*footer
--------------------------------------------------------*/
.footer {
  padding: 60px 0 20px;
  margin-top: 100px;
  background: #483710;
  color: #fff;

  a {
    color: #fff;
  }
}

.footer-inner {
  width: $layout-width-canvas;
  margin: 0 auto 30px;
}

.footer-nav ul {
  list-style: none;
  
  a {
    color: #fff;
  }
}

.footer-address {
  margin-right: 100px;
}

.footer-logo {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-tel {
  letter-spacing: 0.1em;
}

.footer-nav-list {
  margin-right: 100px;

  li {
    margin-bottom: 25px;
  }
}

.copylight {
  text-align: center;
}


// 商品一覧ページ

.item-section {
  margin-top: 80px;
}

.item-title {
  font-size: 30px;
  text-align: left;
  font-weight: bold;
  color: #6f5008;
  letter-spacing: 0.2em;
}

.item-card {
  display: block;
  width: 300px;
  margin-top: 40px;

  &:hover {
    opacity: 0.7;
	}
}

.item-image img {
  display: block;
  width: 200px;
  height: 241px;
 }

 .item-card-body {
  background: #eeede5;
  padding: 30px;
  margin-right: 80px;

  h4 {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
  }
 }

 .more-btn {
   text-align: right;
   margin-top: 30px;

   a{
     color: #2494d0;

     &:hover {
       color: $sub-color;
       text-decoration: underline;
     }
   }
 }

 .totop {
	position: fixed;
	right: 24px;
	bottom: 24px;
	z-index: 100;
	visibility: visible;
	transition: all 0.3s ease 0s;

	&.is-show {
		visibility: visible;
	}

	a {
		text-decoration: none;
		transition: all 0.3s ease 0s;

		&:hover {
			opacity: 0.7s;
		}
	}

	img {
		width: 60px;
		vertical-align: bottom;
	}
}

// -----
// アコーディオン
// -----
.qa {
 padding-top: 30px;
}

.qa_items {
	margin: 80px auto 0;
	width: 900px;
	max-width: 100%;
}

.qa_item {
	margin-bottom: 24px;

	&:last-child {
		margin-bottom: 0;
	}
}

.accordion_head {
	margin: 0;
	background: $sub-color;
	color: #fff;
	padding: 6px 56px;
	position: relative;
	font-size: 18px;
	cursor: pointer;
	font-weight: 700;

	&::before {
		content: "Q";
		position: absolute;
		left: 20px;
		font-weight: 700;
		color: #fff;
		top: 8px;
		font-size: 15px;
	}
}

.accordion_body {
	margin: 0;
	background: #fff;
	display: none;
	border: 1px solid $color-main;
	font-weight: 700;
}

.accordion_body-in {
	padding: 12px 30px 14px 56px;
	line-height: (24 / 16);
	color: rgb(238, 18, 18);
	position: relative;
  font-size: 16px;
  opacity: 0.7s;

	&::before {
		content: "A";
		position: absolute;
		left: 20px;
		font-weight: 700;
		top: 14px;
		font-size: 15px;
  }

  a:hover {
    opacity: 0.7s;
  }
}

.accordion_icon {
	width: 12px;
	height: 12px;
	background: transparent url(../img/icon-plus.png) no-repeat center center / contain;
	position: absolute;
	right: 14px;
	top: 50%;
	transform: translateY(-50%);

	&.is-open {
		background-image: url(../img/icon-minus.png);
	}
}



// スライダー
.swiper-slide {
	text-align: center;
	height: 600px;
	width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
	width: 40px;
	height: 40px;
	transition: all 0.3s ease 0s;
	margin: -20px 0 0;
	z-index: 3;

	&:hover {
		opacity: 0.7s;
	}

	&::after {
		content: "";
	}
}

.swiper-button-prev {
	background: transparent url(../img/slide-arrow-left.png) no-repeat center center / contain;
	left: calc(50% - #{$layout-width-inner / 2});

	@include mq('tab') {
		left: 24px;
	}

	@include mq('sp') {
		left: 4px;
	}
}

.swiper-button-next {
	background: transparent url(../img/slide-arrow-right.png) no-repeat center center / contain;
	right: calc(50% - #{$layout-width-inner / 2});

	@include mq('tab') {
		right: 24px;
	}

	@include mq('sp') {
		right: 4px;
	}
}

.swiper-pagination-bullet {
	width: 16px;
	height: 16px;
	background: #fff;
	opacity: 1;

	@include mq('sp') {
		width: 8px;
		height: 8px;
	}
}

.swiper-pagination-bullet-active {
	background: #2f7dc8;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
	bottom: 10px;
	z-index: 2;

	.swiper-pagination-bullet {
		margin-left: 6px;
		margin-right: 6px;
	}
}

.contact-form {
  text-align: center;
  margin-top: 15px;
}

input[type="search"],input[type="text"]{
  width: 400px;
  border: 3px solid #d8d8d8;
  font-size: 18px;
  display: block;
  margin: auto;
  padding: 15px;
  border-radius: 999px;
  margin-bottom: 15px;
}

.btn {
  padding: 10px 10px;
  color: #fff; 
  border: none;
  font-size: 24px;
  font-weight: bold;
  border-radius: 4px;
}
.btn-registar {
  display: block;
  margin: auto;
  background: $sub-color;
}

.btn:hover {
  opacity: 0.7;
  cursor: pointer;
}
